{% extends "plantillaAdmin.html" %}
{% block content %}
<div class="caja">
    <div class="content">
        <script>
            var usuario = JSON.parse('{{ usuario | tojson | safe }}');
            console.log(usuario);
        </script>
        <img src="{{ url_for('static', filename='logonegroclinica.jpg') }}" alt="Clinica Mayo" class="logo">
        <!-- Buscador de usuarios -->
        <form action="/buscarMedico" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar médico" name="buscarMedico" aria-label="Buscar médico"
                    aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Buscar</button>
            </div>
        </form>
        <table class="table table-custom">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">RFC</th>
                    <th scope="col">Nombre completo</th>
                    <th scope="col">Cédula Profesional</th>
                    <th scope="col">Correo</th>

                    <th scope="col">Rol</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% if usuario %}
                {% for usuario in usuario %}
                <script>
                    console.log("{{ usuario }}")
                </script>
                <tr>
                    <td></td>
                    <td>{{ usuario.1 }}</td>
                    <td>{{ usuario.2 }} {{ usuario.3 }} {{ usuario.4 }}</td>
                    <td>{{ usuario.5 }}</td>
                    <td>{{ usuario.6 }}</td>
                    <td>{{ usuario.11 }}</td>
                    <td><a href="/editarMedico/{{usuario.0}}" type="button" class="btn btn-warning">Editar</a></td>
                    {% if session['id_rol'] == 1 %}
                        <td><button onclick="confirmarEliminacion(event, '{{ usuario.0 }}')" class="btn btn-danger">Borrar</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="8">No hay registros</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function confirmarEliminacion(event, id) {
        event.preventDefault();
        var confirmar = confirm("¿Estás seguro de que deseas eliminar este paciente?");
        if (confirmar) {
            var form = document.createElement('form');
            form.action = '/eliminarMedico/' + id;
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>
{% endblock %}
