{%extends 'plantillaAdmin.html'%}
{%block content%}
    <div class="form-container">
        <h2>Editar datos del paciente</h2>
        <form action="/guardarPaciente" method="post">
            <div class="form-group">
                <label for="nombre">Nombre </label>
                <input type="text" class="form-control" id="nombre" name="txtNombre">
            </div>
            <div class="form-group">
                <label for="apellidoP">Apellido Paterno:</label>
                <input type="text" class="form-control" id="apellidoP" name="txtApePaterno">
            </div>
            <div class="form-group">
                <label for="apellidoM">Apellido Materno:</label>
                <input type="text" class="form-control" id="apellidoM" name="txtApeMaterno">
            </div>
            <div class="form-group">
                <label for="fecha">Fecha de nacimiento:</label>
                <input type="date" class="form-control" id="fecha" name="txtFecha">
            </div>
            <div class="form-group">
                <label for="txtSexo">Genero:</label>
                <select class="form-control" id="rol" name="txtSexo">
                    {%for sexo in sexo%}
                    <option value="{{sexo.0}}">{{sexo.1}}</option>
                    {%endfor%}
                </select>
            </div>
            <button type="submit" class="btn btn-info">Agregar paciente</button>
        </form>
    </div>
{%endblock%}