{% extends "plantillaAdmin.html" %}
{% block content %}

<div class="container mt-5">

    <div class="row justify-content-center mb-4">
        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='logonegroclinica.jpg') }}" alt="Clinica Mayo" class="logo">
        </div>
    </div>

    <div class="card p-3 shadow-sm" style="max-width: 600px; margin: 0 auto; background-color: #b5e1ff;">
        <div class="card-body">
            <div class="title mb-3">
                <h2 class="text-center">Buscar expediente de paciente</h2>
            </div>
            <div class="form-group mb-3">
                <label for="nombreExpediente">Nombre completo:</label>
                <input type="text" class="form-control" id="nombreExpediente" placeholder="Nombre completo">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" style="background-color: #0b6f9e; color: white;">Buscar</button>
            </div>
        </div>
    </div>

    <div class="card mt-5 mb-4 p-0 shadow-sm" style="max-width: 100%; margin: 0 auto;">
        <div class="card-body p-0" style="background-color: #b5e1ff;">
            <h5 class="card-title text-center mb-2">Listado de expedientes médicos</h5>
            <table class="table table-custom mb-0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Fecha de nacimiento</th>
                        <th>Género</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-custom">
                        <td>And</td>
                        <td>Medina</td>
                        <td>Everardo</td>
                        <td>07/01/04</td>
                        <td>Mujer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

</div>
{% endblock %}


