{% extends 'plantillaAdmin.html' %}
{% block content %}
    <div class="container">
        <div class="title">
            <h2>Citas del paciente</h2>
        </div>
        <div class="form-group">
            <label for="nombrePaciente">Nombre del paciente</label>
            <input type="text" class="form-control" id="nombrePaciente" placeholder="Nombre del paciente">
        </div>
        <div class="form-group">
            <label for="fechaCita">Fecha de cita</label>
            <input type="date" class="form-control" id="fechaCita">
        </div>
        <div class="d-flex justify">
            <button type="button" class="btn btn-primary btn-sm" style="padding: 1px 3px; font-size: 17px;">Guardar cita</button>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <h4>Citas del paciente:</h4>
                <ul class="list-group">
                    <li class="list-group-item">DD/MM/AAAA</li>
                    <li class="list-group-item">DD/MM/AAAA</li>
                    <li class="list-group-item">DD/MM/AAAA</li>
                    <li class="list-group-item">DD/MM/AAAA</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4>Recetas del paciente</h4>
                <ul class="list-group">
                    <li class="list-group-item">RECETA 1</li>
                    <li class="list-group-item">RECETA 2</li>
                    <li class="list-group-item">RECETA 3</li>
                    <li class="list-group-item">RECETA 4</li>
                    <li class="list-group-item">RECETA 5</li>
                    <li class="list-group-item">RECETA 6</li>
                    <li class="list-group-item">RECETA 7</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
