{%extends "plantillaAdmin.html"%}
{%block content%}
    <div class="container">
        <div class="title">
            <h2>Buscar expediente de paciente</h2>
        </div>
        <div class="form-group">
            <label for="nombreExpediente">Nombre completo:</label>
            <input type="text" class="form-control" id="nombreExpediente" placeholder="Nombre completo">
        </div>
        <button type="submit" class="btn btn-primary">Actualizar datos</button>
        
    </div>
{%endblock%}