<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Medicos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <h1>Alta de Pacientes</h1>

    <form action="#" method="post">
        <label>Nombres: </label>
        <input type="text" name="txtNombre" value="#">

        <label>Apellido Paterno: </label>
        <input type="text" name="txtApeParteno" value="#">

        <label>Apellido Materno: </label>
        <input type="text" name="txtApeMaterno" value="#">

        <label>Emfermedades Cronicas: </label>
        <input type="text" name="txtCronicas" value="#">

        <label>Alergias: </label>
        <input type="text" name="txtAlergias" value="#">

        <label>Antecedentes Familiares: </label>
        <input type="text" name="txtAntecedentes" value="#">

        <label>Estatus Paciente: </label>
        <input type="text" name="txtEstatus" value="#">

        <button type="submit" class="btn btn-info">Registrar</button>
    </form>
</body>

</html>