<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Medicos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Clinica Mayo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                <a class="nav-link" href="#">Registro Medicos</a>
                <a class="nav-link" href="#">Registro Pacientes</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Pacientes
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Registrar</a></li>
                        <li><a class="dropdown-item" href="#">Editar</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </div>
</nav>
    <h1>Alta de Pacientes</h1>

    <form action="#" method="post">
        <br>
        <label>Nombres: </label>
        <input type="text" name="txtNombre" value="#">

        <br>
        <label>Apellido Paterno: </label>
        <input type="text" name="txtApeParteno" value="#">

        <br>
        <label>Apellido Materno: </label>
        <input type="text" name="txtApeMaterno" value="#">

        <br>
        <label>Emfermedades Cronicas: </label>
        <input type="text" name="txtCronicas" value="#">

        <br>
        <label>Alergias: </label>
        <input type="text" name="txtAlergias" value="#">

        <br>
        <label>Antecedentes Familiares: </label>
        <input type="text" name="txtAntecedentes" value="#">

        <br>
        <label>Estatus Paciente: </label>
        <input type="text" name="txtEstatus" value="#">

        <br>
        <button type="submit" class="btn btn-info">Guardar Cambios</button>
    </form>
</body>

</html>