<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alta Medicos</title>
</head>

<body>
    <h1>Editar registro Medicos</h1>

    <form action="#" method="post">
        <label>Nombres: </label>
        <input type="text" name="txtNombre" value="#">

        <label>Apellido Paterno: </label>
        <input type="text" name="txtApeParteno" value="#">

        <label>Apellido Materno: </label>
        <input type="text" name="txtApeMaterno" value="#">

        <label>RFC: </label>
        <input type="text" name="txtRFC" value="#">

        <label>Cedula Profesional: </label>
        <input type="text" name="txtCedula" value="#">

        <label>Correo Electronico: </label>
        <input type="text" name="txtCorreo" value="#">

        <button type="submit" class="btn btn-info">Guardar Cambios</button>
    </form>
</body>

</html>